/old_stuff/dataset/
/old_stuff/frame10.png
/old_stuff/frame11.png
/old_stuff/flow10.flo
/old_stuff/muazzam/
/old_stuff/optical_flow.tfrecords
/old_stuff/tb/
/old_stuff/ckpt/
/old_stuff/img/
/old_stuff/img/
/new_stuff/flower_dataset/
/new_stuff/tffiles/
/new_stuff/dataset/
/old_stuff/*.tiff
/old_stuff/*.tfrecords
/old_stuff/*.flo
/old_stuff/__pycache__/
*.pyc
*.pyo